---
import "../../globals.css"
---

<a href="/" class="bg-blue-500 text-white rounded-[5px] font-bold cursor-pointer w-28 h-12 flex flex-row items-center justify-center ml-[2vw] mt-5 hover:bg-blue-400 transition-all hover:scale-105">Volver atrás</a>