---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
import FirstButton from "../components/buttons/FirstButton.astro";
---

<Layout title="Luckydev Portfolio">
	<div class="flex flex-col gap-10">
		<nav>
			<Navbar />
		</nav>
		<main>
			<Card />
		</main>

		<FirstButton context="Contactame" />
	</div>
</Layout>
