---
import Image from "astro/components/Image.astro"
---
<div class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6">
  <div class="sm:flex sm:justify-between sm:gap-4 lg:gap-6">
    <div class="sm:order-last sm:shrink-0">
      <img
        alt="Imagen no disponible"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
        class="size-16 rounded-full object-cover sm:size-[72px]"
      />
    </div>

    <div class="mt-4 sm:mt-0">
      <h3 class="text-xl font-bold text-pretty text-black">
        Lucas Coscia
      </h3>

      <p class="mt-1 text-sm font-semibold text-blue-500">Desarrollador Web Full-Stack</p>

      <p class="mt-4 line-clamp-2 text-sm text-pretty text-gray-700">
        Tengo experiencia en el desarrollo de proyectos web en todas sus etapas, especializandome en el desarrollo seguro y
        buenas practicas.
      </p>
    </div>
  </div>

  
</div>
